parameters:
	level: max
	checkMissingIterableValueType: true
	treatPhpDocTypesAsCertain: false

	bootstrapFiles:
		- tools/phpunit/vendor/autoload.php

	paths:
		- src
		- tests

	excludePaths:
			analyseAndScan:
				- src/ConfigLoader
